/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

 *{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

.grid {
    display: grid;
    grid-template-areas: 
        "informasjon"
        "ukens_treningsgruppe"
        "se_nettbutikk";
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

.informasjon, .ukens_treningsgruppe, .se_nettbutikk {
    background-size: cover;
    background-position: center;
    color: white;
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

.informasjon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: informasjon;
    background-image: url(/Bilder/Trening-bygning.jpg);
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

.ukens_treningsgruppe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vh;
    padding-top: 4vh;
    grid-area: ukens_treningsgruppe;
    background-image: url(/Bilder/løping1.jpg);
}

.boks1_trening {
    align-items: top;
}

.boks2_trening {
    align-items: bottom;
    padding-bottom: 4vh;
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

.se_nettbutikk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vh;
    padding-top: 4vh;
    grid-area: se_nettbutikk;
    background-image: url(/Bilder/Sykling.jpg);
}

.boks1_nettbutikk {
    align-items: top;
}

.boks2_nettbutikk {
    align-items: bottom;
    padding-bottom: 4vh;
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

button {
    color: white;
    transition: 0.25s;
    padding: 2vh 2vh 2vh 2vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: transparent;
    margin-top: 1vh;
}
button:hover {
    color: #D90011;
    transition: 0.25s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

@media (min-width: 320px) {
    p {font-size: 20px;}
    button {font-size: 16px;}
    .grid {grid-template-rows: 40vh 50vh 40vh;}
    h1 {font-size: 24px;}
}

@media (min-width: 768px) {
    p {font-size: 24px;}
    button {font-size: 20px;}
    .grid {grid-template-rows: 50vh 50vh 50vh;}
    h1 {font-size: 48px;}
}

@media (min-width: 1024px) {
    p {font-size: 28px;}
    button {font-size: 24px;}  
    .grid {grid-template-rows: 55vh 60vh 60vh;}
    h1 {font-size: 64px;}
}

@media (min-width: 2560px) {
    p {font-size: 56px;}
    button {font-size: 42px;}
    h1 {font-size: 104px;}
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/